{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["jsx-a11y"],
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-angle-bracket-type-assertion": "off"
  }
}
