@import "../../styles/globals";

.controls__button {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  border: 0;
  outline: 0;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: translateX(-10px);
  }
}

.controls__text {
  width: 12ch;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.11px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: right;
}

.controls__icon {
  height: 24px;
  width: 24px;
  margin: 0 12px;
}
